<!DOCTYPE html>

<html xmlns:th= "http://www.thymeleaf.org"> 



<head>
<meta charset="UTF-8">
<title>회 원 가 입</title>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://t1.kakaocdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
<form name = "signupjoin" method = "post" th:action = "@{/join}" id = "signupjoin">
<div>

<h3>약관동의 </h3>

<div>
<textarea style="resize: none; width: 500px; height: 200px;" readonly >사람을 짜증나게 하는 방법은 두 가지가 있다. 하나는 말을 하다 마는 것이고 또 다른 하나는
</textarea>

예 <input type="checkbox" id ="yes" name = "YesorNo" value ="yes">
</div>
<div>
<h3>개인 정보 이용 동의</h3>
<textarea style="resize: none; width: 500px; height: 200px;" readonly >
동의하시죠? 깔깔

</textarea>
예 <input type="checkbox" id ="yes2" name = "YesorNo2" value ="yes2">

</div>

    <div>
<div>
    ID : <input type = "text" id = "input_userId" name = "userId" minlength="4" maxlength="12" placeholder ="사용할 아이디 입력, 숫자와 영어 대소문자를 구별하여 구성해 주세요.">
    <input type = "button" id="dupcheck_Id" name = "dupcheck_Id" value="중복확인">
</div>
<div>
    PW : <input type = "password" id = "input_userPw" name = "userPw" minlength="6" maxlength="15" placeholder ="사용할 비밀번호 입력, 6글자 이상, 숫자와 영어 대소문자로만 구성해 주세요.">
</div>
<div>
    비밀번호 확인 : <input type = "password" id = "check_userPw" name = "dup_userPw" placeholder ="위에 입력한 비밀번호를 입력해 주세요.">
</div>
<div>
    이름 입력 : <input type = "text" id = "name" name = "username" placeholder ="ex : 홍길동">
</div>
<div>
    전화번호 입력 : <input type = "text" id = "phone1" name = "phone1" placeholder ="ex : 010" maxlength="3" minlength="3"> 
                    - <input type = "text" id = "phone2" name = "phone2" placeholder ="ex : 1234"  maxlength="4" minlength="3">
                    - <input type = "text" id = "phone3" name = "phone3" placeholder ="ex : 5678" maxlength="4" minlength="4">
</div>

<div>

주소 입력  
<input type="text" id="postcode" name="postcode" placeholder="우편번호">
<input type="button" onclick="execDaumPostcode()" name="zipcode" value="우편번호 찾기"><br>
<input type="text" id="roadAddress" name="roadAddress" placeholder="도로명주소">
<input type="text" id="jibunAddress" name="jibunAddress" placeholder="지번주소">
<input type="text" id="dong" name="dong" placeholder="동">
</div>


</div>
<div>

<button type="submit" id="join_membership">회원등록</button> 

</div>

</div>
</form>
<script type="text/javascript">

 $('#signupjoin').submit(function(e) {
    if(!$("#yes").is(":checked")){
        alert("첫 약관에 동의하세요");
        e.preventDefault()
        return
    }
    if(!$("#yes2").is(":checked")){
        alert("개인정보 이용동의에 동의해 세요");
        
        e.preventDefault()
        return
    }
    if($("#name").val().trim() == "") {
        e.preventDefault()
        alert("이름을 입력해 주세요")
        return
    }
    if($("#phone1").val() == "" || $("#phone2").val() == "" ||$("#phone3").val() == ""){
        alert("휴대폰 전화전호를 입력해 주세요.")
        e.preventDefault()
        return
    }
    return true;
 })

  
$('#dupcheck_Id').click(function() {
let input_Id = $("#input_userId").val()

if(input_Id == "") {
alert(`아이디를 입력해 주세요`)
$("#input_userId").focus();
return;

}
if(!/^[A-Za-z0-9]{4,12}$/.test(input_Id)) { //정규표현식 .test는 패턴에지 확인하는것.
    alert("아이디가 조건에 맞지 않거나 너무 짧습니다. 다시 입력하세요.")
    return
}
$.ajax({
    type : "POST",
    url : "미정",
    dataType : 'json',
    data : {
        action : "dupcheckId", //바뀔수 있음
        userId : input_Id
    },
    success : function(response) { // 만약 성공시 응답을 한다면 즉 어떻게 받아올 예정이라면 클라이언트에서 버튼 누르고 json으로 보냄->컨트롤러에서 json을 까보고 서비스로 보냄. 서비스에서 db랑 소통하여 있는지 확인 반대로 작용
        // 컨트롤러 완성본 보고 판단하기 
        if(response.exists){ //json에서 응답을 받은 이후 
            alert(`이미 아이디가 있어요`);
            $("input_userId").focus();
            return
        }
        else {
            alert("사용 가능한 아이디 입니다.");
            return
        }
        },
        error: function() {
            alert("중복 확인 중 오류가 발생했어요.")
            return
        }
})

})

$("#check_userPw").on('blur' , function() { //'blur , keyup 둘중에 하나 사용함 blur는 커서가 포커스가 벗어났을때 사용함.'

    let pw1 = $("#input_userPw").val();
    let pw2 = $("#check_userPw").val();

if(pw1 == "" || pw2 == "") {
 alert("비밀번호는 입력하세요")
 return

}

if(!/^[A-Za-z0-9]{6,15}$/.test(pw1)) {
    alert("비밀번호가 맞지 않습니다. 다시 입력하세요.")
    return
}

if(pw1 === pw2)
  {alert("좋은 비밀번호 입니다")
  return
} else {
alert("비밀번호가 일치하지 않습니다")
return
}

})


function execDaumPostcode() {
    new kakao.Postcode({
        oncomplete: function(data) {
            $("#postcode").val(data.zonecode);
            $("#roadAddress").val(data.roadAddress);
            $("#jibunAddress").val(data.jibunAddress);
            $("#dong").focus();
        }
    }).open();
}




</script>
</body>
</html>